<html>
<head>
  <style>
    body[class^="way-too-"] {
      background-color: #ff0000;
      color: white;
    }
    body[class^="too-"] {
      background-color: #ffb3b3
    }
    .just-right {
      background-image: url('http://bestanimations.com/Holidays/Fireworks/fireworks/ba-awesome-colorful-fireworks-animated-gif-image-s.gif');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      color:white;
    }

    .game {
      width: 50%;
      margin: 10em auto;
      text-align: center;
      padding: 10px 50px;
    }

    .just-right .game{
      background: rgba(255,255,255,0.9);
      border-radius: 10px;
      color: black;
    }
    input[type="text"] {
      margin-right: 0em;
      border-radius: 5px 0 0 5px;
      border: 1px solid black;
      border-right:none;
      padding: 10px;
    }

    input[type="submit"]{
      padding: 10;
      border: 1px solid black;
      border-radius: 0 5px 5px 0;
      background: white;
    }
  </style>
</head>
<body class="<%= classname %>">
  <div class="game">
    <h2><%= message %></h2>
    <form action="/"><input type="text" name="guess"><input type="submit" value="Guess!"></form>
    <p><%= guesses_left %></p>
    <p><%= cheat_mode %></p>
  </div>
</body>
</html>
